 body {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        margin: 0;
        padding: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    td{
        border: solid rgba(0, 0, 0, 0);
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bolder;
        height: 50px;
        width: 50px;
        overflow: hidden;
        vertical-align: middle;
    }
    table
    {
        width: 750px;
        height: 750px;
        table-layout: fixed;
        border-collapse: collapse;
        position: relative;
        background: none;
    }
    #tableAndInfo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    #boardSection
    {
        margin-right: 5%;
        margin-left: 50px;
        margin-top: 50px;
        position: relative;
        width: 750px;
        height: 750px;
        overflow: visisble;
    }

    #boardSection::before {
        content: "";
        position: absolute;
        top: -45px;
        left: -45px;
        right: -45px;
        bottom: -45px;
        background-image: url("Board.png");
        background-size: cover;
        background-position: center;
    }

    #diceSection {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px; 
    }

    .imgClass 
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .diceClass
    {
        height: 100px;
        width: 100px;
    }

    #infoBorder 
    {
        background-color: #f4f4f4;
        padding: 20px; 
        border: 2px solid #000; 
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px;
    }